In [1]:
import pandas as pd

# XAMPP SQL DATA DOWNLOAD OR LEARNING

In [2]:
df = pd.read_csv('/kaggle/input/worldcity/world.csv', on_bad_lines='skip')

In [3]:
df

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

       ID            Name CountryCode       District  Population
0       1           Kabul         AFG          Kabol   1780000.0
1       2        Qandahar         AFG       Qandahar    237500.0
2       3           Herat         AFG          Herat    186800.0
3       4  Mazar-e-Sharif         AFG          Balkh    127800.0
4       5       Amsterdam         NLD  Noord-Holland    731200.0
...   ...             ...         ...            ...         ...
5059  ZMB          Tongan           F           11.0         NaN
5060  ZWE         English           T            2.2         NaN
5061  ZWE         Ndebele           F           16.2         NaN
5062  ZWE          Nyanja           F            2.2         NaN
5063  ZWE           Shona           F           72.1         NaN

[5064 rows x 5 columns]

In [4]:
import warnings

In [5]:
warnings.simplefilter(action='ignore', category=RuntimeWarning)

In [6]:
df

       ID            Name CountryCode       District  Population
0       1           Kabul         AFG          Kabol   1780000.0
1       2        Qandahar         AFG       Qandahar    237500.0
2       3           Herat         AFG          Herat    186800.0
3       4  Mazar-e-Sharif         AFG          Balkh    127800.0
4       5       Amsterdam         NLD  Noord-Holland    731200.0
...   ...             ...         ...            ...         ...
5059  ZMB          Tongan           F           11.0         NaN
5060  ZWE         English           T            2.2         NaN
5061  ZWE         Ndebele           F           16.2         NaN
5062  ZWE          Nyanja           F            2.2         NaN
5063  ZWE           Shona           F           72.1         NaN

[5064 rows x 5 columns]

In [7]:
df = pd.read_csv('/kaggle/input/worldcity/world.csv', usecols= ['District'])

In [8]:
df

           District
0             Kabol
1          Qandahar
2             Herat
3             Balkh
4     Noord-Holland
...             ...
5299           11.0
5300            2.2
5301           16.2
5302            2.2
5303           72.1

[5304 rows x 1 columns]

In [9]:
df = pd.read_csv('/kaggle/input/worldcity/world.csv', nrows = 100)

In [10]:
df

     ID                Name CountryCode       District  Population
0     1               Kabul         AFG          Kabol     1780000
1     2            Qandahar         AFG       Qandahar      237500
2     3               Herat         AFG          Herat      186800
3     4      Mazar-e-Sharif         AFG          Balkh      127800
4     5           Amsterdam         NLD  Noord-Holland      731200
..  ...                 ...         ...            ...         ...
95   96        Bahía Blanca         ARG   Buenos Aires      239810
96   97  Esteban Echeverría         ARG   Buenos Aires      235760
97   98         Resistencia         ARG          Chaco      229212
98   99         José C. Paz         ARG   Buenos Aires      221754
99  100              Paraná         ARG     Entre Rios      207041

[100 rows x 5 columns]

In [11]:
df = pd.read_csv('/kaggle/input/worldcity/world.csv', on_bad_lines='skip')

In [12]:
afg_data = df[df['CountryCode'] == 'USA']

In [13]:
afg_data

        ID          Name CountryCode        District  Population
3792  3793      New York         USA        New York   8008278.0
3793  3794   Los Angeles         USA      California   3694820.0
3794  3795       Chicago         USA        Illinois   2896016.0
3795  3796       Houston         USA           Texas   1953631.0
3796  3797  Philadelphia         USA    Pennsylvania   1517550.0
...    ...           ...         ...             ...         ...
4061  4062       Kenosha         USA       Wisconsin     89447.0
4062  4063         Elgin         USA        Illinois     89408.0
4063  4064        Odessa         USA           Texas     89293.0
4064  4065        Carson         USA      California     89089.0
4065  4066    Charleston         USA  South Carolina     89063.0

[274 rows x 5 columns]