In [1]:
import pandas as pd

In [2]:
import json

In [3]:
import requests

In [4]:
from pandas import json_normalize

In [5]:
with open('/kaggle/input/learning-api-dataset/top_rated.json') as f:
    data = json.load(f)

In [6]:
df = json_normalize(data['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
df

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,35.3465,8.712,29130
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,27.3851,8.686,22005
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,14.8967,8.571,13298
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,14.0384,8.567,16824
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,9.5669,8.547,9494
5,129,Spirited Away,"A young girl, Chihiro, becomes trapped in a st...",2001-07-20,19.5979,8.534,17599
6,155,The Dark Knight,Batman raises the stakes in his war on crime. ...,2008-07-16,30.4670,8.524,34622
7,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20,9.5186,8.500,4514
8,497,The Green Mile,A supernatural tale set on death row in a Sout...,1999-12-10,13.6445,8.502,18497
9,496243,Parasite,"All unemployed, Ki-taek's family takes peculia...",2019-05-30,20.9714,8.497,19650
10,122,The Lord of the Rings: The Return of the King,As armies mass for a final battle that will de...,2003-12-17,20.3829,8.490,25606
11,680,Pulp Fiction,"A burger-loving hit man, his philosophical par...",1994-09-10,25.0142,8.500,29225
12,372058,Your Name.,High schoolers Mitsuha and Taki are complete s...,2016-08-26,18.4184,8.500,12068
13,13,Forrest Gump,A man with a low IQ has accomplished great thi...,1994-06-23,65.2277,8.464,28783
14,157336,Interstellar,The adventures of a group of explorers who mak...,2014-11-05,47.1211,8.462,38148
15,429,"The Good, the Bad and the Ugly",While the Civil War rages on between the Union...,1966-12-22,10.0353,8.462,9224
16,769,GoodFellas,"The true story of Henry Hill, a half-Irish, ha...",1990-09-12,14.0947,8.453,13737
17,346,Seven Samurai,A samurai answers a village's request for prot...,1954-04-26,8.0227,8.451,4013
18,12477,Grave of the Fireflies,"In the final months of World War II, 14-year-o...",1988-04-16,0.0102,8.446,6173
19,637,Life Is Beautiful,A touching story of an Italian book seller of ...,1997-12-20,9.5737,8.440,13604

In [7]:
df = pd.DataFrame(data['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
print("Total rows:", len(df))
df.head()

Total rows: 20

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,35.3465,8.712,29130
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,27.3851,8.686,22005
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,14.8967,8.571,13298
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,14.0384,8.567,16824
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,9.5669,8.547,9494

In [8]:
df

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,35.3465,8.712,29130
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,27.3851,8.686,22005
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,14.8967,8.571,13298
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,14.0384,8.567,16824
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,9.5669,8.547,9494
5,129,Spirited Away,"A young girl, Chihiro, becomes trapped in a st...",2001-07-20,19.5979,8.534,17599
6,155,The Dark Knight,Batman raises the stakes in his war on crime. ...,2008-07-16,30.4670,8.524,34622
7,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20,9.5186,8.500,4514
8,497,The Green Mile,A supernatural tale set on death row in a Sout...,1999-12-10,13.6445,8.502,18497
9,496243,Parasite,"All unemployed, Ki-taek's family takes peculia...",2019-05-30,20.9714,8.497,19650
10,122,The Lord of the Rings: The Return of the King,As armies mass for a final battle that will de...,2003-12-17,20.3829,8.490,25606
11,680,Pulp Fiction,"A burger-loving hit man, his philosophical par...",1994-09-10,25.0142,8.500,29225
12,372058,Your Name.,High schoolers Mitsuha and Taki are complete s...,2016-08-26,18.4184,8.500,12068
13,13,Forrest Gump,A man with a low IQ has accomplished great thi...,1994-06-23,65.2277,8.464,28783
14,157336,Interstellar,The adventures of a group of explorers who mak...,2014-11-05,47.1211,8.462,38148
15,429,"The Good, the Bad and the Ugly",While the Civil War rages on between the Union...,1966-12-22,10.0353,8.462,9224
16,769,GoodFellas,"The true story of Henry Hill, a half-Irish, ha...",1990-09-12,14.0947,8.453,13737
17,346,Seven Samurai,A samurai answers a village's request for prot...,1954-04-26,8.0227,8.451,4013
18,12477,Grave of the Fireflies,"In the final months of World War II, 14-year-o...",1988-04-16,0.0102,8.446,6173
19,637,Life Is Beautiful,A touching story of an Italian book seller of ...,1997-12-20,9.5737,8.440,13604